/* src/App.css */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
}

.startup-list {
  list-style: none;
  padding: 0;
}

.startup-list li {
  background-color: #f9f9f9;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.startup-list li p {
  margin: 5px 0;
}

.startup-list li strong {
  font-size: 1.2em;
}

.startup-industry {
  color: #555;
  font-style: italic;
}

/* src/App.css */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.navigation a {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.navigation a:hover {
  background-color: #0056b3;
}
